@charset "UTF-8";

/* ==================== 후기리스트 ==================== */
.review-list strong{
    font-size: 13px;
    font-weight: 400;
    color: #585858;
}
.review-option {
    font-size: 13px;
    font-weight: 400;
    color: #585858;
}
.review-nickname {
    font-size: 13px;
    font-weight: 400;
    color: #009E9E;
}
.review-content {
    font-size: 16px;
    margin: 10px 0;
    font-weight: 400;
}
.review-date {
    font-size: 12px;
    font-weight: 400;
    color: grey;
}
.review-content-detail {
    font-size: 13px;
    font-weight: 350;
    line-height: 30px;
}