@charset "UTF-8";

/* ==================== 새소식 상단부 ==================== */
.notice-bar {
    border-bottom : 2px solid black;
}
.notice-left {
    margin: auto;
    text-align: left;
}
.notice-right {
    margin: auto;
    text-align: right;
}
.notice {
    margin: 16px 6px;
    font-size: 20px;
    font-weight: 300px;
}
.notice span {
    font-size: 22px;
    font-weight: 300px;
    color: #5BAFD8;
}
.sort {
    font-size: 15px;
    color: gray;
    border-style: none;
    outline: none;
}


/* ==================== 새소식 리스트 ==================== */
.notice-list {
    padding: 10px 0;
    border-bottom: 1px solid #c0c0c0;
}
.notice-category {
    font-size: 13px;
    font-weight: 400;
    color: grey;
}
.notice-title {
    margin: 10px 0;
    font-weight: 500;
}
.notice-date {
    font-size: 12px;
    font-weight: 400;
    color: grey;
}

.dohyeonFont {
	font-family: 'Do Hyeon', sans-serif;
}