.title{
	font-family: 'Do Hyeon', sans-serif;
    font-size: 30px;
	font-weight: 300;
    
}

.payhistory{
	text-align: center;
	 font-family: 'Noto Sans KR', sans-serif;
}

.clickArea{
	margin: 15px;
}

.noticeAndEvent{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;
    font-size: 50px;
    font-family: 'Do Hyeon', sans-serif;
}

.lists{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    text-align: center;
    padding-bottom: 5px;
}

.all{
    border-bottom: 3px solid #8c86c7;
}

.payFundList{
    border-bottom: 1px solid #8c86c7;
    width: 100%;
    height: 170px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nORe{
    font-family: 'Do Hyeon', sans-serif;
    color: dimgrey;
    font-size: 19px;
}

.condition{
    font-family: 'Do Hyeon', sans-serif;
    color: #8c86c7;
    font-size: 19px;
}

.imageArea{
    padding: 0 10px 10px 0;
}

.payFundTitle{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
}

.dateAndPayStatus{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 15px;
    color: dimgrey;
    padding-top: 20px;
}

.page-link{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 15px;
    color: dimgrey;
    border: 0;
    padding-left: 15px;
    padding-right: 15px;
}


.previous, .next{
    padding-left: 20px;
    padding-right: 20px;
}

.searchInput{
    display: inline;
    width: 200px;
    height: 40px;
    margin-bottom: 200px;
    border: 0;
}

.searchNoticeAndEventBtn{
    display: inline;
    width: 70px;
    margin-bottom: 200px;
    border: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

.dropdown{
    display: inline;
    width: 100px;
    padding-left: 0;
    margin-left: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

.drop{
    margin-top: 1px;
    margin-left: 27px;
    border-radius: 0;
    padding-bottom: 8px;
    border: 0;
    
}

.dropdown-menu{
    border: 0;
}

.dropdown-item{
    width: 110px;
}

.historyOrReview{
	text-align: center;
/* 	padding: 15px; */
	padding-top: 15px;
	font-family: 'Noto Sans KR', sans-serif;
}

.repayOrReview, .history {
	background-color: #8c86c7;
	padding: 5px;
	margin: 10px;
	border-radius: 5px;
	cursor: pointer;
}

.writerAndDate{
	font-family: 'Noto Sans KR', sans-serif;
	
}

.color {
	color: #B2AAF3;
	
}

.wantingSummary{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
	color: dimgray;
}


/* 추가 */
.menu {
	cursor: pointer;
}
.current-menu {
	border-bottom: 4px solid #8c86c7;	
}
.gowrite {
	font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
	font-weight: 200;
/* 	float: right; */
	border-radius: 5px;
	border: 1px solid #8c86c7;
	padding: 3 10px;
}

.btn-funding-small {
    height: 38px;
    width: 100%;
    line-height: 38px;
    color: #4a4a4a;
    background: #fff;
    border: 1px solid #dadce0;
    font-size: 13px;
    font-weight: 350;
    text-align: center;
    vertical-align: center;
    margin-top: 5px;
}


.btn-funding-small {
    height: 38px;
    width: 100%;
    line-height: 38px;
    color: #4a4a4a;
    background: #fff;
    border: 1px solid #dadce0;
    font-size: 13px;
    font-weight: 350;
    text-align: center;
    vertical-align: center;
    margin-top: 5px;
}
.btn-funding-small:hover {
    background-color: #F2F2F2;
    transition-duration: .2s;
}
