@charset "UTF-8";

.breadcrumb li {
    cursor: pointer; /*왜 안됨*/
}

.wanting-write {
    width:700px;
}
.wanting-title-detail {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 350;
    color: ##8c86c7;
}
.wanting-guide-title {
    margin: 40px 0 5px;
    font-size: 20px;
    font-weight: 450;
}
.wanting-guide-detail {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 350;
    color: #818181;
}
.wanting-write-input {
    padding-left: 10px;
    height: 48px;
    line-height: 1.2em;
    font-size: 17px;
    width: 100%;
    border: 1px solid rgba(0,0,0,.15);
    word-break: break-all;
}
.wanting-write-input:hover {
    transition-duration: .2s;
    border: 1px solid;
}
.wanting-write-input:focus {
    border: none;
    outline: 1px solid #857BE2;
} 
/* .wanting-write-input::-webkit-input-placeholder { color: #f00; }  */
/* *{-webkit-tap-highlight-color: transparent};  */


/* ==================== 파일 ==================== */
.file-btn{
    margin-right: 10px;
    padding: 5px 25px;
    background-color:#9F9F9F;
    vertical-align: middle;
    vertical-align: middle;
    border-radius: 4px;
    outline: none;
    font-size: 13px;
    font-weight: 330;
    color: white;
    cursor: pointer;
}
.file-btn:hover{
    background-color:#818181;
    font-weight: 330;
}
#file-name {
    font-size: 14px;
    font-weight: 350;
}


/* ==================== 가게 ==================== */
.wanting-shop {
    font-size: 14px;
    font-weight: 350;
    line-height: 3.5em;
}
.shop-input {
    margin-left: 10px;
    height: 38px;
    width: 88%;
}


/* ==================== 하단버튼 ==================== */
.btn-wanting {
    margin-top: 10px;
    margin-bottom: 100px;
    background-color: #786BF3;
    border: none;
    color: #fff;
    width: 100%;
    height: 48px;
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
    cursor: pointer;
}
.btn-wanting:hover {
    background-color: #7063E4;
    transition-duration: .2s;
}


/* ==================== 메모 ==================== */
.icon-help {
    pointer-events: auto!important;
    cursor: pointer;
    line-height: 1;
    color: rgba(0,0,0,.54);
    font-size: 14px;
    box-sizing: border-box;
}
.icon-help-msg {
    min-width: 350px; left: 0px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    --vh: 6.74px;
    font-family: roboto,"Noto Sans KR",-apple-system,dotum,sans-serif;
    overflow-wrap: break-word;
    pointer-events: auto!important;
    letter-spacing: -.3px;
    font-style: normal;
    cursor: default;
    -webkit-appearance: none;
    margin: 0;
    position: absolute;
    top: 2em;
    transition: opacity .2s;
    z-index: 5;
    border: 1px solid #e6eaed;
    padding: 12px;
    max-width: 90vw;
    text-align: left;
    line-height: 16px;
    word-break: keep-all;
    white-space: normal;
    font-size: 12px;
    font-weight: 400;
    box-sizing: border-box;
    border-radius: 2px;
    border-color: #44484b;
    box-shadow: unset;
    background: #44484b;
    color: #fff;
    display: block;
    opacity: 1;
    min-width: 350px;
    left: 0px;    
}
.input {
    overflow-wrap: break-word;
    font-weight: 400;
    transition-property: border-color,height,padding-right,color;
    transition-duration: .2s,0s;
    border: 1px solid rgba(0,0,0,.15);
    background: #fff;
    width: 100%;
    vertical-align: middle;
    color: rgba(0,0,0,.84);
    height: 48px;
    line-height: 1.2em;
    font-size: 17px;
    font-family: roboto,"Noto Sans KR",-apple-system,dotum,sans-serif;
}


/* ==================== 카카오 지도 ==================== */
.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:100%;height:500px;}
#menu_wrap {position:absolute;top:0;left:0;bottom:0;width:250px;margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;border-radius: 10px;}
.bg_white {background:#fff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}  
#menu_wrap .option button {margin-left:5px;}
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}
