<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">


	<select id="selectAllMember" resultMap="memberResultSet">
		select *
		from member
		order
		by member_enroll_date desc
	</select>

	<select id="getListCount" resultType="_int">
		select count(*)
		from member
	</select>
	
	<select id="getListCountA" resultType="_int">
		select count(*)
		from ads
	</select>
	
	<select id="getListCountRR" resultType="_int">
		select count(*)
		from review_report
	</select>
	
	<select id="getListCountRF" resultType="_int">
		select count(*)
		from funding_report
	</select>
	
	<select id="getListCountI" resultType="_int">
		select count(*)
		from admin_inquiry
	</select>
	
	<select id="getListCountN" resultType="_int">
		select count(*)
		from notice
	</select>
	
	<select id="getListCountPM" resultType="_int">
		select count(*)
		from funding
		
		union all
		
		select count(*)
		from wanting
	</select>
	
	<update id="deleteMember">
		update member
		set member_status='N'
		where
		member_id=#{id}
	</update>
	
	<update id="deleteNotice">
		update notice
		set notice_status='N'
		where
		notice_title=#{id}
	</update>
	
	<select id="selectAllInquiry" resultMap="inquiryResultSet">
		select *
		from
		admin_inquiry
		order by create_date desc
	</select>

	<update id="answerContent">
		update admin_inquiry
		set answer_content = #{reply},
		inquiry_status = 'Y'
		where inquiry_code = #{code}
	</update>
	
	<update id="answerContentN">
			update notice
			set notice_content = #{reply}, notice_title = #{title}
			where notice_num = #{code}
	</update>
	
	<select id="selectAllAds" resultMap="adsResultSet">
		select *
		from ads
		join funding
		using (funding_num)
	</select>

	<select id="selectAllImage" resultMap="imageResultSet">
		select *
		from image
		where
		image_board_cate = 8 and image_status = 'Y'
	</select>

	<!-- <select id="selectAllNotice" resultMap="noticeResultSet"> -->
	<!-- select * -->
	<!-- from notice -->
	<!-- where -->
	<!-- notice_division = 'N' -->
	<!-- order by notice_num desc -->
	<!-- </select> -->

	<!-- <select id="selectAllEvent" resultMap="noticeResultSet"> -->
	<!-- select * -->
	<!-- from notice -->
	<!-- where -->
	<!-- notice_division = 'E' -->
	<!-- order by notice_num desc -->
	<!-- </select> -->

	<select id="selectAllwrite" resultMap="noticeResultSet">
		select *
		from notice
		order by notice_num desc
	</select>
	<!-- <update id="getAccept"> -->
	<!-- update ads -->
	<!-- set confirm = 'Y' -->
	<!-- where ads_num = #{acceptDivision} -->
	<!-- </update> -->

	<select id="creatorApproval" resultMap="creatorResultSet">
		select *
		from creator join member on(member_id=creator)
		where member_type='supportor'
		order by creator_num desc
	</select>
	
	<insert id="selectNewWrite">
		insert into notice
		values(seq_notice.nextval, default, #{noticeTitle}, #{noticeContent}, sysdate, sysdate, default, default, #{noticeDivision} )
	</insert>
	
	<select id="businessImage" resultMap="imageResultSet">
		select *
		from image join creator_image using(image_num)
		where image_board_cate='5' and image_detail='1'
		order by image_num desc
	</select>
	
	<select id="selectReviewReport" resultMap="reviewReportResultSet">
		select *
		from review_report
			join review using(review_num)
		order by report_num desc
	</select>
	
	<select id="selectFundingReport" resultMap="fundingReportResultSet">
		select *
		from funding_report
			join funding using(funding_num)
		order by report_num desc
	</select>
	
	<update id="deleteReview">
		update review
		set review_status='N'
		where
		review_num=#{id}
	</update>
	
	<update id="deleteFunding">
		update funding
		set funding_status='N'
		where
		funding_num=#{id}
	</update>
	
	<update id="updateMemberType">
		update member
		set member_type='creator'
		where member_id=#{changeId}
	</update>
	
	<delete id="deleteCreator">
		delete from creator
		where creator=#{delCreator}
	</delete>
	
	<update id="updateCreatorType">
		update member
		set member_type='supportor'
		where member_id=#{delCreator}
	</update>
	<select id="selectOkList" resultMap="afundingResultSet">
        select funding_num, funding_title, funding_content, CONFIRM, CREATE_DATE, FUNDING_STATUS, 'F' division
		from funding 
        
        union all
        
        select wanting_num, WANTING_TITLE, WANTING_CONTENT, wanting_confirm, CREATE_DATE, WANTING_STATUS, 'W' division
        from wanting 
        order by create_date desc
	</select>
	
	<select id="selectBannerImageList" resultMap="bannerImageResultSet">
		select * from image join banner_image using(image_num) where banner_status = 'Y'
	</select>
	
	
	<update id="okProjectW">
		update wanting
		set wanting_confirm='Y'
		where wanting_num=#{id}
	</update>
	
	<update id="okProjectF">
		update funding
		set confirm='Y'
		where funding_num=#{id}
	</update>
	
<!-- 	<update id="noProject"> -->
<!-- 		update funding -->
<!-- 		set confirm='R' -->
<!-- 		where funding_num=#{id} -->
<!-- 	</update> -->
	
	<resultMap type="Member" id="memberResultSet">
		<id column="MEMBER_ID" property="memberId" />
		<result column="MEMBER_PWD" property="memberPwd" />
		<result column="MEMBER_NAME" property="memberName" />
		<result column="MEMBER_NICKNAME" property="memberNickname" />
		<result column="MEMBER_PHONE" property="memberPhone" />
		<result column="MEMBER_ADDRESS" property="memberAddress" />
		<result column="MEMBER_EMAIL" property="memberEmail" />
		<result column="MEMBER_ENROLL_DATE" property="memberEnrolldate" />
		<result column="MEMBER_GENDER" property="memberGender" />
		<result column="MEMBER_TYPE" property="memberType" />
		<result column="MEMBER_INTRODUCE" property="memberIntroduce" />
		<result column="MEMBER_CATE" property="memberCate" />
		<result column="MEMBER_STATUS" property="memberStatus" />
	</resultMap>

	<resultMap type="AdminInquiry" id="inquiryResultSet">
		<id column="INQUIRY_CODE" property="inquiryCode" />
		<result column="WRITER" property="writer" />
		<result column="INQUIRY_CATE" property="inquiryCate" />
		<result column="INQUIRY_TITLE" property="inquiryTitle" />
		<result column="INQUIRY_CONTENT" property="inquiryContent" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="INQUIRY_STATUS" property="inquiryStatus" />
		<result column="ANSWER_CONTENT" property="answerContent" />
		<result column="ANSWER_DATE" property="answerDate" />
	</resultMap>

	<resultMap type="Ads" id="adsResultSet">
		<id column="ADS_NUM" property="adsNum" />
		<result column="FUNDING_NUM" property="fundingNum" />
		<result column="ADS_PRICE" property="adsPrice" />
		<result column="ADS_STATUS" property="adsStatus" />
		<result column="CONFIRM" property="confirm" />
		<result column="ADS_START" property="adsStart" />
		<result column="ADS_END" property="adsEnd" />
		<result column="ADS_CREATE_DATE" property="adsCreateDate" />
		<result column="FUNDING_TITLE" property="fundingTitle" />
		<result column="FUNDING_TITLE" property="fundingTitle" />
	</resultMap>

	<resultMap type="Notice" id="noticeResultSet">
		<id column="NOTICE_NUM" property="noticeNum" />
		<result column="ADMIN" property="admin" />
		<result column="NOTICE_TITLE" property="noticeTitle" />
		<result column="NOTICE_CONTENT" property="noticeContent" />
		<result column="NOTICE_CREATE_DATE" property="noticeCreateDate" />
		<result column="NOTICE_MODIFY_DATE" property="noticeModifyDate" />
		<result column="NOTICE_COUNT" property="noticeCount" />
		<result column="NOTICE_STATUS" property="noticeStatus" />
		<result column="NOTICE_DIVISION" property="noticeDivision" />
	</resultMap>
	
	<resultMap type="ReviewReport" id="reviewReportResultSet">
		<id column="REPORT_NUM" property="reportNum" />
		<result column="REVIEW_NUM" property="reviewNum" />
		<result column="REPORTER" property="reporter" />
		<result column="REPORT_CATE" property="reportCate" />
		<result column="REPORT_DATE" property="reportDate" />
		<result column="REPORT_CONTENT" property="reportContent" />
		<result column="REPORT_STATUS" property="reportStatus" />
		<result column="REPORT_DIVISION" property="reportDivision" />
		<association property="review" javaType="Review" resultMap="reviewResultSet"></association>
	</resultMap>
	
	<resultMap type="Review" id="reviewResultSet">
		<id column="REVIEW_NUM" property="reviewNum" />
		<result column="REVIEWER" property="reviewer" />
		<result column="FUNDING_NUM" property="fundingNum" />
		<result column="REVIEW_CONTENT" property="reviewContent" />
		<result column="REVIEW_STATUS" property="reviewStatus" />
	</resultMap>
	
	<resultMap type="FundingReport" id="fundingReportResultSet">
		<id column="REPORT_NUM" property="reportNum" />
		<result column="FUNDING_NUM" property="fundingNum" />
		<result column="MEMBER_ID" property="memberId" />
		<result column="REPORT_DATE" property="reportDate" />
		<result column="REPORT_CATE" property="reportCate" />
		<result column="REPORT_CONTENT" property="reportContent" />
		<result column="REPORT_STATUS" property="reportStatus" />
		<result column="REPORT_DIVISION" property="reportDivision" />
		<association property="funding" javaType="Funding" resultMap="fundingResultSet"></association>
	</resultMap>
	
	<resultMap type="Creator" id="creatorResultSet">
		<id column="creator_num" property="creatorNum"/>
		<result column="creator" property="creator"/>
		<result column="business_type" property="businessType"/>
		<result column="business_number" property="businessNumber"/>
		<result column="manager_name" property="managerName"/>
		<result column="manager_phone" property="managerPhone"/>
		<result column="manager_email" property="managerEmail"/>
		<result column="creator_name" property="creatorName"/>
	</resultMap>
	
	<resultMap type="Image" id="imageResultSet">
		<id column="image_num" property="imageNum"/>
		<result column="image_form" property="imageForm"/>
		<result column="origin_name" property="originName"/>
		<result column="image_rename" property="imageRename"/>
		<result column="image_src" property="imageSrc"/>
		<result column="upload_date" property="uploadDate"/>
		<result column="image_status" property="imageStatus"/>
		<result column="image_level" property="imageLevel"/>
		<result column="image_board_cate" property="imageBoardCate"/>
		<result column="image_board_id" property="imageBoardId"/>
	</resultMap>
	
	<resultMap type="CreatorImage" id="creatorImageResultSet">
		<id column="image_num" property="imageNum"/>
		<result column="image_detail" property="imageDetail"/>
	</resultMap>
	
	<resultMap type="AFunding" id="afundingResultSet">
      <id column="funding_num" property="fundingNum"/>
      <result column="creator_num" property="creatorNum"/>
      <result column="funding_cate" property="fundingCate"/>
      <result column="funding_title" property="fundingTitle"/>
      <result column="funding_content" property="fundingContent"/>
      <result column="funding_count" property="fundingCount"/>
      <result column="funding_start" property="fundingStart"/>
      <result column="funding_end" property="fundingEnd"/>
      <result column="current_money" property="currentMoney"/>
      <result column="target_money" property="targetMoney"/>
      <result column="confirm" property="confirm"/>
      <result column="create_date" property="createDate"/>
      <result column="modify_date" property="modifyDate"/>
      <result column="funding_status" property="fundingStatus"/>
      <result column="creator_name" property="creatorNickname"/>
      <result column="division" property="division"/>
      <association property="wanting" javaType="Wanting" resultMap="wantingResultSet"/>
   </resultMap>
   
   <resultMap type="BannerImage" id="bannerImageResultSet">
   		<id column="IMAGE_NUM" property="imageNum"/>
   		<result column="START_DATE" property="startDate"/>
   		<result column="END_DATE" property="endDate"/>
   		<result column="CONFIRM" property="confirm"/>
   		<result column="BANNER_STATUS" property="bannerStatus"/>
   		<result column="IMAGE_RENAME" property="imageRename"/>
   		<result column="IMAGE_BOARD_ID" property="seqIdNum"/>
   </resultMap>
	
	<resultMap type="Wanting" id="wantingResultSet">
		<id column="WANTING_NUM" property="wantingNum"/>
		<result column="WRITER" property="wantingWriter"/>
		<result column="MEMBER_NICKNAME" property="wantingNickname"/>
		<result column="WANTING_TITLE" property="wantingTitle"/>
		<result column="WANTING_CONTENT" property="wantingContent"/>
		<result column="SHOP_LOCATION" property="wantingShopLocation"/>
		 <result column="SHOP_NAME" property="wantingShopName"/> 
		<result column="WANTING_LEVEL" property="wantingLevel"/>
		<result column="WANTING_STATUS" property="wantingStatus"/>
		<result column="CREATE_DATE" property="wantingCreateDate"/>
		<result column="WANTING_COUNT" property="wantingCount"/>
		<result column="DAYS_COUNT" property="wantingDaysCount"/>
		<result column="wanting_confirm" property="wantingConfirm"/>
		<result column="DIVISION" property="division"/>
	</resultMap>
		
	<resultMap type="Funding" id="fundingResultSet">
		<id column="funding_num" property="fundingNum"/>
		<result column="creator_num" property="creatorNum"/>
		<result column="funding_cate" property="fundingCate"/>
		<result column="funding_title" property="fundingTitle"/>
		<result column="funding_content" property="fundingContent"/>
		<result column="funding_count" property="fundingCount"/>
		<result column="funding_start" property="fundingStart"/>
		<result column="funding_end" property="fundingEnd"/>
		<result column="current_money" property="currentMoney"/>
		<result column="target_money" property="targetMoney"/>
		<result column="confirm" property="confirm"/>
		<result column="create_date" property="createDate"/>
		<result column="modify_date" property="modifyDate"/>
		<result column="funding_status" property="fundingStatus"/>
		<result column="creator_name" property="creatorNickname"/>
	</resultMap>
</mapper>