<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="fundingMapper">
	
	<!-- 펀딩 작성 -->
	<select id="getCreatorNum" resultType="_int">
		select creator_num
		from creator
		where creator=#{id}
	</select>
	
	<insert id="insertFunding">
		insert into funding
		values(seq_funding.nextval, #{creatorNum}, #{fundingCate}, #{fundingTitle}, #{fundingCount}, sysdate, #{fundingEnd}, default, #{targetMoney}, default, sysdate, default, default, #{creatorNickname}, #{fundingContent})
	</insert>
	
	<insert id="insertImage">
		insert into image
		values(seq_image.nextval, #{imageForm}, #{originName}, #{imageRename}, #{imageSrc}, default, default, #{imageLevel}, 1, seq_funding.currval)
	</insert>
	
	<insert id="insertReward">
		insert into reward
		values(seq_reward.nextval, seq_funding.currval, #{rewardTitle}, #{rewardContent}, #{rewardPrice}, #{rewardShipping}, #{rewardLimit}, default, #{rewardExpectDate})
	</insert>

	<!-- 펀딩 글 목록 -->
	<select id="fundingList" resultMap="fundingResultSet">
		select *
		from funding
		where funding_status='Y'
		order by funding_num desc
	</select>
	
	<select id="fundingImageList" resultMap="imageResultSet">
		select *
		from image
		where image_board_cate=1 and image_status='Y' and image_level=0
	</select>
	
	<select id="searchFundingList" resultMap="fundingResultSet">
		select * from funding where funding_title like '%' || #{searchText} || '%'
	</select>
	
	<select id="getCreatorName" resultType="string">
		select creator_name
		from creator join member on(member_id = creator)
		where member_id = #{id}
	</select>
	
	<select id="checkWriter" resultType="string">
		select member_id
		from member join creator on(member_id = creator)
		where creator_num=#{creatorNum}
	</select>
	
	<select id="getFunding" resultMap="fundingResultSet">
		select *
		from funding
		where funding_num=#{bId}
	</select>
	
	<select id="getImage" resultMap="imageResultSet">
		select *
		from Image join funding on(funding_num = image_board_id)
		where image_board_id=#{bId} and image_board_cate=1
	</select>
	
	<update id="addCount">
		update funding
		set funding_count = funding_count+1
		where funding_num=#{bId}
	</update>

	<resultMap type="Funding" id="fundingResultSet">
		<id column="funding_num" property="fundingNum"/>
		<result column="creator_num" property="creatorNum"/>
		<result column="funding_cate" property="fundingCate"/>
		<result column="funding_title" property="fundingTitle"/>
		<result column="funding_content" property="fundingContent"/>
		<result column="funding_count" property="fundingCount"/>
		<result column="funding_start" property="fundingStart"/>
		<result column="funding_end" property="fundingEnd"/>
		<result column="current_money" property="currentMoney"/>
		<result column="target_money" property="targetMoney"/>
		<result column="confirm" property="confirm"/>
		<result column="create_date" property="createDate"/>
		<result column="modify_date" property="modifyDate"/>
		<result column="funding_status" property="fundingStatus"/>
		<result column="creator_name" property="creatorNickname"/>
	</resultMap>
	
	<resultMap type="Creator" id="creatorResultSet">
		<id column="creator_num" property="creatorNum"/>
		<result column="creator" property="creator"/>
		<result column="business_type" property="businessType"/>
		<result column="business_number" property="businessNumber"/>
		<result column="manager_name" property="managerName"/>
		<result column="manager_phone" property="managerPhone"/>
		<result column="manager_email" property="managerEmail"/>
		<result column="creator_name" property="creatorName"/>
	</resultMap>
	
	<resultMap type="Image" id="imageResultSet">
		<id column="image_num" property="imageNum"/>
		<result column="image_form" property="imageForm"/>
		<result column="origin_name" property="originName"/>
		<result column="image_rename" property="imageRename"/>
		<result column="image_src" property="imageSrc"/>
		<result column="upload_date" property="uploadDate"/>
		<result column="image_status" property="imageStatus"/>
		<result column="image_level" property="imageLevel"/>
		<result column="image_board_cate" property="imageBoardCate"/>
		<result column="image_board_id" property="imageBoardId"/>
	</resultMap>
	
	<resultMap type="Reward" id="rewardResultSet">
		<id column="reward_num" property="rewardNum"/>
		<result column="funding_num" property="fundingNum"/>
		<result column="reward_title" property="rewardTitle"/>
		<result column="reward_content" property="rewardContent"/>
		<result column="reward_price" property="rewardPrice"/>
		<result column="reward_shipping" property="rewardShipping"/>
		<result column="reward_limit" property="rewardLimit"/>
		<result column="reward_sellcount" property="rewardSellCount"/>
		<result column="reward_expect_date" property="rewardExpectDate"/>
	</resultMap>
</mapper>
