<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="fundingMapper">
	
	<!-- 펀딩 작성 -->
	<select id="getCreatorNum" resultType="_int">
		select creator_num
		from creator
		where creator=#{id}
	</select>
	
	<insert id="insertFunding">
		insert into funding
		values(seq_funding.nextval, #{creatorNum}, #{fundingCate}, #{fundingTitle}, #{fundingCount}, #{fundingStart}, #{fundingEnd}, default, #{targetMoney}, default, sysdate, default, default, #{creatorNickname}, #{fundingContent}, #{fundingSummary})
	</insert>
	
	<insert id="insertImage">
		insert into image
		values(seq_image.nextval, #{imageForm}, #{originName}, #{imageRename}, #{imageSrc}, default, default, #{imageLevel}, 1, seq_funding.currval)
	</insert>

	<!-- 펀딩 글 목록 -->
	<select id="fundingList" resultMap="fundingResultSet">
		select *
		from funding
		where funding_status='Y'
		order by funding_num desc
	</select>
	
	<select id="fundingImageList" resultMap="imageResultSet">
		select *
		from image
		where image_board_cate=1 and image_status='Y' and image_level=0
	</select>
	
	<select id="searchFundingList" resultMap="fundingResultSet">
<!-- 		<if test="searchText != null"> -->
<!-- 			select * from funding where funding_title like '%' || #{searchText} || '%' -->
<!-- 		</if> -->
<!-- 		<if test="cate != null"> -->
<!-- 			select * from funding where funding_cate = #{cate} -->
<!-- 		</if> -->
		<choose>
			<when test="cateOrContent == 'content'">
				select * from funding where funding_title like '%' || #{searchText} || '%'
			</when>
			<when test="cateOrContent == 'cate'">
				select * from funding where funding_cate = #{cate}
			</when>
		</choose>
	</select>
	
	<!-- 조회수 -->
	<select id="getCreatorName" resultType="string">
		select creator_name
		from creator join member on(member_id = creator)
		where member_id = #{id}
	</select>
	
	<select id="checkWriter" resultType="string">
		select member_id
		from member join creator on(member_id = creator)
		where creator_num=#{creatorNum}
	</select>
	
	<select id="getFunding" resultMap="fundingResultSet">
		select *
		from funding
		where funding_num=#{bId}
	</select>
	
	<select id="getImage" resultMap="imageResultSet">
		select *
		from Image join funding on(funding_num = image_board_id)
		where image_board_id=#{bId} and image_board_cate=1
	</select>
	
	<update id="addCount">
		update funding
		set funding_count = funding_count+1
		where funding_num=#{bId}
	</update>
	
	<!-- 펀딩 상세조회 -->
	<select id="getFundingCreator" resultType="string">
		select creator
		from funding join creator using(creator_num)
		where funding_num=#{bId}
	</select>
	
	<!-- 펀딩 새소식 작성 -->
	<insert id="insertFundingNotice">
		insert into funding_notice
		values(seq_funding_notice.nextval, #{fundingNum}, #{fundingNoticeWriter}, #{fundingNoticeTitle}, #{fundingNoticeContent}, default, default, default, default, #{fundingNoticeCategory})
	</insert>
	
	<!-- 펀딩 새소식 리스트 -->
	<select id="fundingNoticeList" resultMap="fundingNoticeResultSet">
		select *
		from funding_notice
		where funding_num=#{bId}
	</select>
	
	<select id="fnListCount" resultType="_int">
		select count(*)
		from funding_notice
		where funding_num=#{bId}
	</select>
	
	<update id="addNoticeCount">
		update funding_notice
		set funding_notice_count=funding_notice_count+1
		where funding_num=#{bId}
	</update>
	
	<select id="getFundingCreatorNum" resultType="_int">
		select creator_num
		from creator
		where creator=#{writer}
	</select>
	
	<select id="getFundingNotice" resultMap="fundingNoticeResultSet">
		select *
		from funding_notice
		where funding_notice_writer=#{writer}
	</select>
	
	<insert id="insertReward">
		insert into reward
		values(seq_reward.nextval, seq_funding.currval, #{rewardTitle}, #{rewardContent}, #{price}, #{shipping}, #{rewardLimit}, default, #{rewardExpectDate})
	</insert>
	
	<select id="getCurrFunding" resultMap="fundingResultSet">
		select *
		from funding
		where funding_num=#{bId}
	</select>
	
	<!-- 펀딩 리워드 -->
	<select id="fundingRewardList" resultMap="rewardResultSet">
		select *
		from reward
		where funding_num=#{bId}
	</select>
	
	<select id="getFundingInfo" resultMap="fundingResultSet">
		select *
		from funding
		where funding_num=#{bId}
	</select>
	<insert id="insertReview">
		insert into review values(seq_review.nextval, #{reviewer}, #{fundingNum}, #{reviewContent}, default, #{reviewRating}, #{creatorNum})
	</insert>
	
	<select id="checkExistReview" resultType="_int">
		select count(*) from review where reviewer = #{reviewer} and funding_num = #{fundingNum}
	</select>


	<insert id="fundingEdit">
		insert into funding_edit
		values(seq_funding_edit.nextval, #{fundingTitle}, #{fundingContent}, #{fundingNum}, default, sysdate, default)
	</insert>
	
	<select id="getFundingReview" resultMap="reviewResultSet">
		select * 
		from review
		where funding_num=#{fundingNum}
		order by review_num desc
	</select>
	
	<select id="getPayList" resultMap="payScheduleResultSet">
		select *
		from payschedule
		where funding_num=#{fundingNum}
	</select>
	
	<select id="getSupportCount" resultType="_int">
		select count(*)
		from payschedule
		where funding_num=#{fundingNum}
	</select>
	
	<select id="getReviewCount" resultType="_int">
		select count(*)
		from review
		where funding_num=#{fundingNum}
	</select>
	
	<select id="getListCountR" resultType="_int">
		select count(*)
		from review
		where funding_num=#{fundingNum}
		order by review_num desc
	</select>
	
	<select id="getFundingIngListRanking" resultMap="fundingResultSet">
		select *
		from funding
		order by funding_count desc
	</select>
	
	<select id="getFundingEndLatest" resultMap="fundingResultSet">
		select *
		from funding
		where funding_end <![CDATA[<]]> sysdate
		order by funding_num desc
	</select>
	
	<select id="getFundingEndRanking" resultMap="fundingResultSet">
		select *
		from funding
		where funding_end <![CDATA[<]]> sysdate
		order by funding_count desc
	</select>
	
	<insert id="insertDibs">
		insert into dibs
		values(#{dibsId}, #{fundingNum})
	</insert>
	
	<delete id="deleteDibs">
		delete from dibs
		where dibs_id = #{dibsId}
	</delete>
	
	<select id="getReviewerNickName" resultMap="memberResultSet">
		select member_nickname, member_id
		from member join review on(member_id=reviewer)
        where funding_num=#{fundingNum}
	</select>
	
	<!-- 찜하기 갯수 -->
	<select id="getDibsCount" resultType="_int">
		select count(*)
		from dibs
		where funding_num=#{bId}
	</select>
	
	<!-- 찜하기 리스트 -->
	<select id="getDibs" resultMap="fundingDibsResultSet">
		select *
		from dibs
		where funding_num=#{bId}
	</select>
	
	<!-- 펀딩 수정 시 펀딩 테이블 confirm update -->
	<update id="fundingConfirmUpdate">
		update funding
		set confirm='E'
		where funding_num=#{fundingNum}
	</update>
	<select id="getMyFundingList" resultMap="fundingResultSet">
		select * from funding join creator using(creator_num) where creator = #{id} order by create_date desc
	</select>
	
	<select id="popularList" resultMap="fundingResultSet">
		select funding_num, creator_num, funding_cate, funding_title, funding_count, funding_start, funding_end, current_money, target_money, confirm, create_date, modify_date, funding_status, creator_name, funding_summary, (current_money / target_money) percent from funding where funding_status='Y' order by percent desc
	</select>
	
	<select id="sortList" resultMap="fundingResultSet">
		<choose>
			<when test="sortType == '오픈임박순'">
				select * from funding where funding_status = 'Y' order by funding_start asc
			</when>
			<when test="sortType == '찜하기순'">
				select e.funding_num, e.creator_num, e.funding_cate, e.funding_title, e.funding_count, 
							e.funding_start, e.funding_end, e.current_money, e.target_money, e.confirm, e.create_date, e.modify_date, 
							e.funding_status, e.creator_name, funding_summary 
								from funding e full join dibs d on(e.funding_num = d.funding_num) 
									group by e.funding_num, e.creator_num, e.funding_cate, e.funding_title, e.funding_count, 
													e.funding_start, e.funding_end, e.current_money, e.target_money, e.confirm, e.create_date, e.modify_date, 
													e.funding_status, e.creator_name, e.funding_summary having funding_status = 'Y'
												order by count(dibs_id) desc
			</when>
<!-- 			<when test="sortType == '알림신청순'"> -->
<!-- 			</when> -->
		</choose>
	</select>
	
	<select id="sortCateList" resultMap="fundingResultSet">
		select * from funding where funding_status = 'Y' and funding_cate = #{cate}
	</select>
	
	<select id="getUserFundingList" resultMap="fundingResultSet">
		select * from funding join creator using(creator_num) where creator = #{userId}
	</select>
	
	<insert id="insertInquiry">
		insert into funding_message
		values(seq_funding_message.nextval, #{sender}, #{receiver}, #{fundingNum}, #{messageTitle}, #{messageContent}, #{messageCate}, sysdate, default, null, sysdate, default)
	</insert>
	
	<select id="getCreatorInfo" resultMap="creatorResultSet">
		select * from creator where creator_num = #{creatorNum}
	</select>
	
	<select id="getFundingListFromCreatorNum" resultMap="fundingResultSet">
		select * from funding where creator_num = #{creatorNum}
	</select>
	
	<select id="getReviewList"  resultMap="reviewResultSet">
		select * from review where creator_num = #{creatorNum}
	</select>
	
	<insert id="insertAlarm">
		insert into alarm values(seq_alarm.nextval, #{memberId}, #{alarmMsg}, #{alarmBoardCate}, #{alarmBoardId}, default, #{alarmDate}, 'N')
	</insert>
	
	<select id="checkAlreadyApplyAlarm" resultType="_int">
		select count(*) from alarm where member_id = #{memberId} and alarm_board_cate = 1 and alarm_board_id = #{alarmBoardId}
	</select>
	
	<select id="fundingSupportor" resultMap="payScheduleResultSet">
		select *
		from payschedule
		where funding_num=#{fundingNum}
		order by CUSTOMER_UID desc
	</select>
	
	<select id="getMember" resultMap="memberResultSet">
		select *
		from member
		where member_nickname=#{buyerName}
	</select>
	
	<select id="getMemberImage" resultMap="imageResultSet">
		select * 
		from image
		where image_board_cate=3 and image_board_id=#{memberId} and image_status='Y'
	</select>
	
	<select id="getCreator" resultType="string">
		select creator
		from creator
		where creator_name=#{creatorNickname}
	</select>
	
	<insert id="follow">
		insert into follow
		values(#{follower}, #{creatorNum})
	</insert>
	
	<select id="getFollowList" resultMap="followResultSet">
		select *
		from follow
		where creator_num=#{creatorNum}
	</select>
	
	<select id="getFollowerCount" resultType="_int">
		select count(*)
		from follow
		where creator_num=#{creatorNum}
	</select>
	
	<delete id="unfollow">
		delete from follow
		where creator_num=#{creatorNum} and follower=#{follower}
	</delete>
	
	<resultMap type="Funding" id="fundingResultSet">
		<id column="funding_num" property="fundingNum"/>
		<result column="creator_num" property="creatorNum"/>
		<result column="funding_cate" property="fundingCate"/>
		<result column="funding_title" property="fundingTitle"/>
		<result column="funding_content" property="fundingContent"/>
		<result column="funding_count" property="fundingCount"/>
		<result column="funding_start" property="fundingStart"/>
		<result column="funding_end" property="fundingEnd"/>
		<result column="current_money" property="currentMoney"/>
		<result column="target_money" property="targetMoney"/>
		<result column="confirm" property="confirm"/>
		<result column="create_date" property="createDate"/>
		<result column="modify_date" property="modifyDate"/>
		<result column="funding_status" property="fundingStatus"/>
		<result column="creator_name" property="creatorNickname"/>
		<result column="funding_summary" property="fundingSummary"/>
	</resultMap>
	
	<resultMap type="Creator" id="creatorResultSet">
		<id column="creator_num" property="creatorNum"/>
		<result column="creator" property="creator"/>
		<result column="business_type" property="businessType"/>
		<result column="business_number" property="businessNumber"/>
		<result column="manager_name" property="managerName"/>
		<result column="manager_phone" property="managerPhone"/>
		<result column="manager_email" property="managerEmail"/>
		<result column="creator_name" property="creatorName"/>
	</resultMap>
	
	<resultMap type="Image" id="imageResultSet">
		<id column="image_num" property="imageNum"/>
		<result column="image_form" property="imageForm"/>
		<result column="origin_name" property="originName"/>
		<result column="image_rename" property="imageRename"/>
		<result column="image_src" property="imageSrc"/>
		<result column="upload_date" property="uploadDate"/>
		<result column="image_status" property="imageStatus"/>
		<result column="image_level" property="imageLevel"/>
		<result column="image_board_cate" property="imageBoardCate"/>
		<result column="image_board_id" property="imageBoardId"/>
	</resultMap>
	
	<resultMap type="Reward" id="rewardResultSet">
		<id column="reward_num" property="rewardNum"/>
		<result column="funding_num" property="fundingNum"/>
		<result column="reward_title" property="rewardTitle"/>
		<result column="reward_content" property="rewardContent"/>
		<result column="reward_price" property="price"/>
		<result column="reward_shipping" property="shipping"/>
		<result column="reward_limit" property="rewardLimit"/>
		<result column="reward_sellcount" property="rewardSellCount"/>
		<result column="reward_expect_date" property="rewardExpectDate"/>
	</resultMap>
	
	<resultMap type="FundingNotice" id="fundingNoticeResultSet">
		<id column="funding_notice_num" property="fundingNoticeNum"/>
		<result column="funding_num" property="fundingNum"/>
		<result column="funding_notice_writer" property="fundingNoticeWriter"/>
		<result column="funding_notice_title" property="fundingNoticeTitle"/>
		<result column="funding_notice_content" property="fundingNoticeContent"/>
		<result column="funding_notice_create_date" property="fundingNoticeCreateDate"/>
		<result column="funding_notice_modify_date" property="fundingNoticeModifyDate"/>
		<result column="funding_notice_count" property="fundingNoticeCount"/>
		<result column="funding_notice_status" property="fundingNoticeStatus"/>
		<result column="funding_notice_category" property="fundingNoticeCategory"/>
	</resultMap>
	
	<resultMap type="Review" id="reviewResultSet">
		<id column="review_num" property="reviewNum"/>
		<result column="reviewer" property="reviewer"/>
		<result column="funding_num" property="fundingNum"/>
		<result column="review_content" property="reviewContent"/>
		<result column="review_status" property="reviewStatus"/>
		<result column="review_rating" property="reviewRating"/>
		<result column="creator_num" property="creatorNum"/>
	</resultMap>
	
	<resultMap type="PaySchedule" id="payScheduleResultSet">
		<id column="customer_uid" property="customerUId"/>
		<result column="merchant_uid" property="merchantUId"/>
		<result column="merchant_name" property="merchantName"/>
		<result column="buyer_name" property="buyerName"/>
		<result column="buyer_tel" property="buyerTel"/>
		<result column="buyer_addr" property="buyerAddr"/>
		<result column="schedule_status" property="scheduleStatus"/>
		<result column="payment_status" property="paymentStatus"/>
		<result column="reward_buy_list" property="rewardBuyList"/>
		<result column="card_number" property="cardNumber"/>
		<result column="card_name" property="cardName"/>
		<result column="funding_num" property="fundingNum"/>
		<result column="amount" property="amount"/>
	</resultMap>
	
	<resultMap type="SupportCount" id="supportCountResultSet">
		<id column="supportor" property="supportor"/>
		<result column="funding_num" property="fundingNum"/>
	</resultMap>
	
	<resultMap type="Member" id="memberResultSet">
		<id column="MEMBER_ID" property="memberId"/>
		<result column="MEMBER_PWD" property="memberPwd"/>
		<result column="MEMBER_NAME" property="memberName"/>
		<result column="MEMBER_NICKNAME" property="memberNickname"/>
		<result column="MEMBER_PHONE" property="memberPhone"/>
		<result column="MEMBER_ADDRESS" property="memberAddress"/>
		<result column="MEMBER_EMAIL" property="memberEmail"/>
		<result column="MEMBER_ENROLL_DATE" property="memberEnrolldate"/>
		<result column="MEMBER_GENDER" property="memberGender"/>
		<result column="MEMBER_TYPE" property="memberType"/>
		<result column="MEMBER_INTRODUCE" property="memberIntroduce"/>
		<result column="MEMBER_CATE" property="memberCate"/>
		<result column="MEMBER_STATUS" property="memberStatus"/>
	</resultMap>

	<resultMap type="FundingDibs" id="fundingDibsResultSet">
		<id column="dibs_id" property="dibsId"/>
		<result column="funding_num" property="fundingNum"/>
	</resultMap>
	
	<resultMap type="Alarm" id="alarmResultSet">
		<id column="ALARM_NUM" property="alarmNum"/>
		<result column="MEMBER_ID" property="memberId"/>
		<result column="ALARM_MSG" property="alarmMsg"/>
		<result column="ALARM_BOARD_CATE" property="alarmBoardCate"/>
		<result column="ALARM_BOARD_ID" property="alarmBoardId"/>
		<result column="ALARM_CHECK" property="alarmCheck"/>
	</resultMap>
	
	<resultMap type="Follow" id="followResultSet">
		<id column="follower" property="follower"/>
		<result column="creator_num" property="creatorNum"/>
	</resultMap>
	
</mapper>
