<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	  <resultMap type="Member" id="memberResultSet">
		<id column="MEMBER_ID" property="memberId"/>
		<result column="MEMBER_PWD" property="memberPwd"/>
		<result column="MEMBER_NAME" property="memberName"/>
		<result column="MEMBER_NICKNAME" property="memberNickname"/>
		<result column="MEMBER_PHONE" property="memberPhone"/>
		<result column="MEMBER_ADDRESS" property="memberAddress"/>
		<result column="MEMBER_EMAIL" property="memberEmail"/>
		<result column="MEMBER_ENROLL_DATE" property="memberEnrolldate"/>
		<result column="MEMBER_GENDER" property="memberGender"/>
		<result column="MEMBER_TYPE" property="memberType"/>
		<result column="MEMBER_INTRODUCE" property="memberIntroduce"/>
		<result column="MEMBER_CATE" property="memberCate"/>
		<result column="MEMBER_STATUS" property="memberStatus"/>
	</resultMap>


	<insert id="enroll" parameterType="Member">
		INSERT INTO MEMBER
		VALUES(#{memberId}, #{memberPwd},#{memberName},#{memberNickname},#{memberPhone},#{memberAddress},#{memberEmail},
		sysdate,#{memberGender},default,null,null,default) 
	</insert>
	
	
	
	<select id="login" parameterType="Member" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_ID=#{memberId} AND MEMBER_STATUS = 'Y'
	</select>
	
	<!-- 아이디 중복확인  -->
	<select id="checkUsername" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEMBER_ID = #{memberId}
	</select>
	
	<!--닉네임 중복확인  -->
	<select id="checkNickName" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEMBER_NICKNAME = #{memberNickname}
	</select>
	
	 <update id="updateInfo">
		UPDATE MEMBER
		SET MEMBER_PWD = #{memberPwd}, MEMBER_NICKNAME=#{memberNickname},MEMBER_NAME=#{memberName}, 
		MEMBER_PHONE=#{memberPhone}, MEMBER_EMAIL=#{memberEmail},
		MEMBER_ADDRESS = #{memberAddress}
		WHERE MEMBER_ID = #{memberId}
	</update> 
	
	 <update id="deleteMember">
		UPDATE MEMBER
		SET MEMBER_STATUS = 'N'
		WHERE MEMBER_ID = #{memberId}
	</update>
	
	<select id="findmemberId" parameterType="Member" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_NAME= #{memberName} 
		 AND MEMBER_PHONE= #{memberPhone}
		 AND MEMBER_EMAIL= #{memberEmail}  
	</select>
	
	<insert id="creatorInsert">
		insert into creator
		values(seq_creator.nextval, #{creator}, #{businessType}, #{businessNumber}, #{managerName}, #{managerPhone}, #{managerEmail}, #{creatorName})
	</insert>
	<select id="findcheckPwd" parameterType="Member" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_ID= #{memberId}  
	</select>
	
	<select id="selectMember" parameterType="Member" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_EMAIL= #{memberEmail}  
	</select>
	
	 <select id="checkMember" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEMBER_EMAIL= #{memberEmail}
		 AND  MEMBER_NAME = #{memberName}		  
	</select> 
	
	
	<update id="updateenPwd">
		UPDATE MEMBER set MEMBER_PWD=#{memberPwd} where MEMBER_ID=#{memberId}
	</update>
	
	
	
	<select id="creatorCheck" resultMap="memberResultSet">
		select member_type
		from member
		where member_id=#{id}
	</select>
	
	<insert id="businessLicense">
		insert all
		into image values(seq_image.nextval, #{imageForm}, #{originName}, #{imageRename}, #{imageSrc}, sysdate, default, null, 5, null)
		into creator_image values(seq_image.currval, 1)
		select * from dual
	</insert>
	
	<select id="creatorRegistration" resultMap="creatorResultSet">
		select *
		from creator
		where creator=#{id}
	</select>
	
	<resultMap type="Creator" id="creatorResultSet">
		<id column="creator_num" property="creatorNum"/>
		<result column="creator" property="creator"/>
		<result column="business_type" property="businessType"/>
		<result column="business_number" property="businessNumber"/>
		<result column="manager_name" property="managerName"/>
		<result column="manager_phone" property="managerPhone"/>
		<result column="manage_email" property="managerEmail"/>
		<result column="creator_name" property="creatorName"/>
	</resultMap>
	
<!-- 	<resultMap type="Image" id="ImageResultSet"> -->
<!-- 		<id column="creator_num" property="creatorNum"/> -->
<!-- 		<result column="creator" property="creator"/> -->
<!-- 		<result column="business_type" property="businessType"/> -->
<!-- 		<result column="business_number" property="businessNumber"/> -->
<!-- 		<result column="manager_name" property="managerName"/> -->
<!-- 		<result column="manager_phone" property="managerPhone"/> -->
<!-- 		<result column="manage_email" property="managerEmail"/> -->
<!-- 		<result column="creator_name" property="creatorName"/> -->
<!-- 	</resultMap> -->
	
	<resultMap type="Image" id="imageResultSet">
		<id column="IMAGE_NUM" property="imageNum"/>
		<result column="IMAGE_FORM" property="imageForm"/>
		<result column="ORIGIN_NAME" property="originName"/>
		<result column="IMAGE_RENAME" property="imageRename"/>
		<result column="IMAGE_SRC" property="imageSrc"/>
		<result column="UPLOAD_DATE" property="uploadDate"/>
		<result column="IMAGE_STATUS" property="imageStatus"/>
		<result column="IMAGE_LEVEL" property="imageLevel"/>
		<result column="IMAGE_BOARD_CATE" property="imageBoardCate"/>
		<result column="IMAGE_BOARD_ID" property="imageBoardId"/>
	</resultMap>
	
	<resultMap type="CreatorImage" id="creatorImageResultSet">
		<id column="IMAGE_NUM" property="imageNum"/>
		<result column="IMAGE_DETAIL" property="imageDetail"/>
	</resultMap>
	
	<!-- <insert id="insertmemberImage">
		insert into image
		values(seq_image.nextval, ${imageForm}, ${originName}, ${imageRename}, ${imageSrc}, sysdate, default, ${imageLevel}, ${imageBoardCate}, ${imageBoardId})
	</insert> -->
	
	<insert id="insertmemberImage">
		insert into image
		values(seq_image.nextval, #{imageForm}, #{originName}, #{imageRename}, #{imageSrc}, SYSDATE, default,
				#{imageLevel}, #{imageBoardCate}, #{imageBoardId})
	</insert>
	
	<select id="selectImage" resultMap="imageResultSet">
		select image_rename, image_src
		from image
		where IMAGE_STATUS = 'Y' AND IMAGE_BOARD_ID = #{imageBoardId} AND IMAGE_BOARD_CATE = #{imageBoardCate}
	</select>
	
	<select id="allProfileImage" resultType="integer">
		select image_num from image where image_board_id = #{memberId}
	</select>
	
	<select id="selectCreatorImageList" resultMap="creatorImageResultSet">
		select * from creator_image where image_num in
		<foreach collection="arraylist" open="(" close=")" separator=", " item="item">
			#{item}
		</foreach>
	</select>
	
	<update id="deleteImage">
  		update image
  		set IMAGE_STATUS = 'N'
  		where IMAGE_BOARD_ID = #{imageBoardId}
  	</update>
	
	<insert id="insertcreatorImage"><!--크리에이터사진등록  -->
		insert into image
		values(seq_image.nextval, #{imageForm}, #{originName}, #{imageRename}, #{imageSrc}, SYSDATE, default,
				#{imageLevel}, #{imageBoardCate}, #{imageBoardId})
	</insert>
	
	<select id="selectcreatorImage" resultMap="imageResultSet"><!--크리에이터 사진 불러오기  -->
		select image_rename, image_src
		from image
		where IMAGE_STATUS = 'Y' AND IMAGE_BOARD_ID = #{imageBoardId} AND IMAGE_BOARD_CATE = #{imageBoardCate}
	</select>
	
	<select id="selectcImage" resultMap="imageResultSet">
		select image_rename, image_src
		from image
		where IMAGE_STATUS = 'Y' AND IMAGE_BOARD_ID = #{imageBoardId} AND IMAGE_BOARD_CATE = #{imageBoardCate}
	</select>
	
	<update id="deletecImage" >
  		update image
  		set IMAGE_STATUS = 'N'
  		where   IMAGE_BOARD_CATE = #{imageBoardCate} 
  	</update>
	
	
	<delete id="deletesupImg">
	update  IMAGE
	set IMAGE_STATUS = 'N'
     WHERE IMAGE_RENAME = #{IMAGE_RENAME}
	</delete>
	
	 <update id="deleteboforeImage" >
  		update image
  		set IMAGE_STATUS = 'N'
  		where   IMAGE_BOARD_CATE = #{imageBoardCate} AND IMAGE_BOARD_ID = #{imageBoardId}
  	</update> 
	
	 <update id="deleteboforecImage" >
  		update image
  		set IMAGE_STATUS = 'N'
  		where   IMAGE_BOARD_CATE = #{imageBoardCate} AND IMAGE_BOARD_ID = #{imageBoardId}
  	</update>  
  	
  	<select id="getImageNum" resultType="_int">
  		select image_num from image where image_board_cate = #{imageBoardCate} and image_board_id = #{imageBoardId}
  	</select>

  	<select id="getMsgDontReadListCount" resultType="_int">
		select count(*)
		from funding_message
		where MESSAGE_READ_STATUS = 'N' and RECEIVER = #{id}
	</select>
	
	<select id="getMsgListCount" resultType="_int">
		select count(*)
		from funding_message
		where receiver=#{id}
	</select>
	
	<select id="getMsgList" resultMap="fundingMessageResultSet">
		select *
		from funding_message
		where receiver=#{id}
		order by message_code desc
	</select>
	
	<resultMap type="FundingMessage" id="fundingMessageResultSet">
		<id column="message_code" property="messageCode"/>
		<result column="sender" property="sender"/>
		<result column="receiver" property="receiver"/>
		<result column="funding_num" property="fundingNum"/>
		<result column="message_title" property="messageTitle"/>
		<result column="message_content" property="messageContent"/>
		<result column="message_cate" property="messageCate"/>
		<result column="message_date" property="messageDate"/>
		<result column="message_read_status" property="messageReadStatus"/>
		<result column="reply_content" property="replyContent"/>
		<result column="reply_date" property="replyDate"/>
		<result column="reply_status" property="replyStatus"/>
	</resultMap>
  	
  	
  	
  	
</mapper>