<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="payMapper">

	
	<resultMap type="Reward"  id="rewardResultSet">
		<id column="REWARD_NUM" property="rewardNum"/>
		<result column="FUNDING_NUM" property="fundingNum"/>
		<result column="REWARD_TITLE" property="rewardTitle"/>
		<result column="REWARD_CONTENT" property="rewardContent"/>
		<result column="REWARD_PRICE" property="price"/>
		<result column="REWARD_SHIPPING" property="shipping"/>
		<result column="REWARD_LIMIT" property="rewardLimit"/>
		<result column="REWARD_SELLCOUNT" property="rewardSellCount"/>
		<result column="REWARD_EXPECT_DATE" property="rewardExpectDate"/>
	</resultMap>
	
	<resultMap type="PaySchedule" id="payScheduleResultSet">
		<result column="CUSTOMER_UID" property="customerUId"/>
		<result column="MERCHANT_UID" property="merchantUId"/>
		<result column="MERCHANT_NAME" property="merchantName"/>
		<result column="BUYER_NAME" property="buyerName"/>
		<result column="BUYER_TEL" property="buyerTel"/>
		<result column="BUYER_ADDR" property="buyerAddr"/>
		<result column="SCHEDULE_STATUS" property="scheduleStatus"/>
		<result column="PAYMENT_STATUS" property="paymentStatus"/>
		<result column="REWARD_BUY_LIST" property="rewardBuyList"/>
		<result column="CARD_NUMBER" property="cardNumber"/>
		<result column="CARD_NAME" property="cardName"/>
		<result column="AMOUNT" property="amount"/>
	</resultMap>
	
	<resultMap type="Funding" id="fundingResultSet">
		<id column="funding_num" property="fundingNum"/>
		<result column="creator_num" property="creatorNum"/>
		<result column="funding_cate" property="fundingCate"/>
		<result column="funding_title" property="fundingTitle"/>
		<result column="funding_content" property="fundingContent"/>
		<result column="funding_count" property="fundingCount"/>
		<result column="funding_start" property="fundingStart"/>
		<result column="funding_end" property="fundingEnd"/>
		<result column="current_money" property="currentMoney"/>
		<result column="target_money" property="targetMoney"/>
		<result column="confirm" property="confirm"/>
		<result column="create_date" property="createDate"/>
		<result column="modify_date" property="modifyDate"/>
		<result column="funding_status" property="fundingStatus"/>
		<result column="creator_name" property="creatorNickname"/>
	</resultMap>
	
	<select id="getRewardList" resultMap="rewardResultSet">
		select * from reward where funding_num = #{fundingNum}
	</select>
	
	<select id="getFundingTitle" resultType="string">
		select funding_title from funding where funding_num = #{fundingNum}
	</select>
	
	<select id="getFundingInfo" resultMap="fundingResultSet">
		select * from funding where funding_num = #{fundingNum}
	</select>
	
	<update id="changeRewardSellCount" parameterType="map">
		update reward set reward_sellcount = reward_sellcount + #{rewardCount} where reward_num = #{rewardNum}
	</update>
	
	<select id="selectMerchantSequence" resultType="_int">
		select merchant_code_seq.nextval from dual
	</select>
	
	<insert id="insertPaySchedule" parameterType="map">
		insert into payschedule values(#{customer_uid}, #{merchant_uid}, #{merchant_name}, #{buyer_name}, #{buyer_tel}, #{buyer_addr}, #{schedule_status}, #{payment_status}, #{reward_buy_list}, #{card_number}, #{card_name}, #{fundingNum},  #{amount})
	</insert>
	
	<select id="checkScheduled" resultType="_int">
		select count(*) from payschedule where merchant_uid = #{merchantUId} and customer_uid = #{customerUId} and buyer_name = #{buyerName}
	</select>

	<update id="updateScheduleStatus" parameterType="map">
		update payschedule set schedule_status = 'revoked' where merchant_uid = #{merchant_uid} and customer_uid = #{customer_uid} and buyer_name = #{buyer_name}
	</update>
	
	<select id="getMerchantUId" resultType="string">
		select merchant_uid from payschedule where funding_num = #{fundingNum}
	</select>
	
	<update id="updatePayStatus" >
		update payschedule set payment_status = #{payStatus} where merchant_uid = #{mUId}
		
	</update>

</mapper>
