<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wantingMapper">


<!-- 	원팅 게시글 작성 -->
	<insert id="insertWanting">
		insert into wanting
		values(seq_wanting.nextval, #{wantingWriter}, #{wantingTitle}, #{wantingSummary}, #{wantingContent},
				#{wantingShopName}, #{wantingShopAddress}, SYSDATE, default, default, 1, default, default)
	</insert>
	
	<insert id="insertImage">
		insert into image
		values(seq_image.nextval, #{imageForm}, #{originName}, #{imageRename}, #{imageSrc}, SYSDATE, default,
				#{imageLevel}, #{imageBoardCate}, seq_wanting.currval)
	</insert>
	
	
<!-- 	원팅 리스트 불러오기 -->
	<select id="selectWantingList" resultMap="wantingResultSet">
		select *
		from wanting
			join member on(wanting.writer = member.member_id)
		where wanting_status='Y'
		order by wanting_num desc
	</select>

	<select id="selectWantingListPopular" resultMap="wantingResultSet">
		select *
		from wanting
			join member on(wanting.writer = member.member_id)
		where wanting_status='Y'
		order by wanting_count desc
	</select>

	<select id="selectImageList" resultMap="imageResultSet">
		select * 
		from image
		where image_board_cate=4 and image_status='Y' 
	</select>
	
	
<!-- 	원팅 게시글 상세보기 -->
	<select id="selectWanting" resultMap="wantingResultSet">
		select * 
		from wanting
		where wanting_num=#{wantingNum} and wanting_status='Y' 
	</select>
	
	<select id="selectImage" resultMap="imageResultSet">
		select * 
		from image
		where image_board_cate=4 and image_board_id=#{wantingNum} and image_status='Y' 
	</select>

	<select id="getWantingYN" resultType="_int">
		select count(*)
		from wanting_attend
		where attender=#{attender} and wanting_num=#{wantingNum}
	</select>
	
	
<!-- 	원팅 참여하기 -->
	<insert id="attendWanting">
		insert into wanting_attend
		values(#{attender}, #{wantingNum})
	</insert>
	
	<select id="getWantingCount" resultType="_int">
		select count(*)
		from wanting_attend
		where wanting_num = #{wantingNum}
	</select>
	
	<update id="updateWantingStatus">
		update wanting
		set wanting_count=#{wantingCount},
			wanting_level=#{wantingLevel}
		where wanting_num=#{wantingNum} and wanting_status='Y' 
	</update>
	
	
<!-- 	원팅 달성 알림 보내기 -->
	<select id="getMemberList" resultMap="wantingAttendResultSet">
		select *
		from wanting_attend
		where wanting_num=#{wantingNum}
	</select>
	
	<insert id="sendAlarm">
		insert into alarm
		values(seq_alarm.nextval, #{memberId}, #{alarmMsg}, #{alarmBoardCate}, #{alarmBoardId}, default)
	</insert>
	
	
<!-- 	원팅 검색 -->
	<select id="searchWantingList" resultMap="wantingResultSet">
		select * from wanting where wanting_title like '%' || #{searchText} || '%'
	</select>


<!-- 	회원 전체 알림 가져오기 -->
	<select id="selectAlarmList" resultMap="alarmResultSet">
		select *
		from alarm
		where member_id=#{memberId} and alarm_check='N'
	</select>
	
	
<!-- 	회원 알림 확인하기 -->
	<update id="checkAlarm">
		update alarm
		set alarm_check='Y'
		where alarm_num=#{alarmNum}
	</update>

	
<!-- 	원팅 수정 및 삭제 -->
	<update id="updateWanting">
		update wanting
		set wanting_title=#{wantingTitle}, wanting_summary=#{wantingSummary}, 
			wanting_content=#{wantingContent}, shop_name=#{wantingShopName},
			shop_address=#{wantingShopAddress}
		where wanting_num=#{wantingNum}
	</update>
	
	<update id="deleteWanting">
		update wanting
		set wanting_status='N'
		where wanting_num=#{wantingNum}
	</update>
	
	
	
	<resultMap type="Wanting" id="wantingResultSet">
		<id column="WANTING_NUM" property="wantingNum"/>
		<result column="WRITER" property="wantingWriter"/>
		<result column="MEMBER_NICKNAME" property="wantingNickname"/>
		<result column="WANTING_TITLE" property="wantingTitle"/>
		<result column="WANTING_SUMMARY" property="wantingSummary"/>
		<result column="WANTING_CONTENT" property="wantingContent"/>
		 <result column="SHOP_NAME" property="wantingShopName"/> 
		<result column="SHOP_ADDRESS" property="wantingShopAddress"/>
		<result column="CREATE_DATE" property="wantingCreateDate"/>
		<result column="DAYS_COUNT" property="wantingDaysCount"/>
		<result column="WANTING_COUNT" property="wantingCount"/>
		<result column="WANTING_LEVEL" property="wantingLevel"/>
		<result column="WANTING_CONFIRM" property="wantingConfirm"/>
		<result column="WANTING_STATUS" property="wantingStatus"/>
	</resultMap>
	
	<resultMap type="Image" id="imageResultSet">
		<id column="IMAGE_NUM" property="imageNum"/>
		<result column="IMAGE_FORM" property="imageForm"/>
		<result column="ORIGIN_NAME" property="originName"/>
		<result column="IMAGE_RENAME" property="imageRename"/>
		<result column="IMAGE_SRC" property="imageSrc"/>
		<result column="UPLOAD_DATE" property="uploadDate"/>
		<result column="IMAGE_STATUS" property="imageStatus"/>
		<result column="IMAGE_LEVEL" property="imageLevel"/>
		<result column="IMAGE_BOARD_CATE" property="imageBoardCate"/>
		<result column="IMAGE_BOARD_ID" property="imageBoardId"/>
	</resultMap>
	
	<resultMap type="WantingAttend" id="wantingAttendResultSet">
		<id column="ATTENDER" property="attender"/>
		<id column="WANTING_NUM" property="wantingNum"/>
	</resultMap>

	<resultMap type="Alarm" id="alarmResultSet">
		<id column="ALARM_NUM" property="alarmNum"/>
		<result column="MEMBER_ID" property="memberId"/>
		<result column="ALARM_MSG" property="alarmMsg"/>
		<result column="ALARM_BOARD_CATE" property="alarmBoardCate"/>
		<result column="ALARM_BOARD_ID" property="alarmBoardId"/>
		<result column="ALARM_CHECK" property="alarmCheck"/>
	</resultMap>
	
	
</mapper>
