<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wantingMapper">


	<insert id="insertWanting">
		insert into wanting
		values(seq_wanting.nextval, #{wantingWriter}, #{wantingTitle}, #{wantingContent},
				#{wantingShopLocation}, #{wantingShopName}, 1, default, SYSDATE)
	</insert>
	
	<insert id="insertImage">
		insert into image
		values(seq_image.nextval, #{imageForm}, #{originName}, #{imageRename}, #{imageSrc}, SYSDATE, default,
				#{imageLevel}, #{imageBoardCate}, seq_wanting.currval)
	</insert>
	
	<select id="selectWantingList" resultMap="wantingResultSet">
		select *
		from wanting
		where wanting_status='Y'
		order by wanting_num desc
	</select>

	<select id="selectImageList" resultMap="imageResultSet">
		select * 
		from image
		where image_board_cate=4 and image_status='Y' 
	</select>
	
	<select id="selectImage" resultMap="imageResultSet">
		select * 
		from image
		where image_board_cate=#{imageBoardCate} and image_board_id=#{imageBoardId} and image_status='Y' 
	</select>
	
	
	<resultMap type="Wanting" id="wantingResultSet">
		<id column="WANTING_NUM" property="wantingNum"/>
		<result column="WRITER" property="wantingWriter"/>
		<result column="WANTING_TITLE" property="wantingTitle"/>
		<result column="WANTING_CONTENT" property="wantingContent"/>
		<result column="SHOP_LOCATION" property="wantingShopLocation"/>
		 <result column="SHOP_NAME" property="wantingShopName"/> 
		<result column="WANTING_LEVEL" property="wantingLevel"/>
		<result column="WANTING_STATUS" property="wantingStatus"/>
		<result column="CREATE_DATE" property="wantingCreateDate"/>
	</resultMap>
	
	<resultMap type="Image" id="imageResultSet">
		<id column="IMAGE_NUM" property="imageNum"/>
		<result column="IMAGE_FORM" property="imageForm"/>
		<result column="ORIGIN_NAME" property="originName"/>
		<result column="IMAGE_RENAME" property="imageRename"/>
		<result column="IMAGE_SRC" property="imageSrc"/>
		<result column="UPLOAD_DATE" property="uploadDate"/>
		<result column="IMAGE_STATUS" property="imageStatus"/>
		<result column="IMAGE_LEVEL" property="imageLevel"/>
		<result column="IMAGE_BOARD_CATE" property="imageBoardCate"/>
		<result column="IMAGE_BOARD_ID" property="imageBoardId"/>
	</resultMap>
	
</mapper>
