<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.kh.wantit.wanting.model.vo.Wanting" alias="Wanting"/>
		<typeAlias type="com.kh.wantit.member.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.wantit.funding.model.vo.Funding" alias="Funding"/>
		
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/admin-mapper.xml"/>
		<mapper resource="mappers/funding-mapper.xml"/>
	</mappers>
</configuration>