<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.kh.wantit.wanting.model.vo.Wanting" alias="Wanting"/>
		<typeAlias type="com.kh.wantit.pay.vo.TestMember" alias="TestMember"/>
		<typeAlias type="com.kh.wantit.pay.vo.Reward" alias="Reward"/>
		<typeAlias type="com.kh.wantit.pay.vo.PaySchedule" alias="PaySchedule"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/pay-mapper.xml"/>
		
	</mappers>
</configuration>